.container.user-show
  .row.pb-4.border-bottom
    .col-sm-4.text-center
      - if @user.image.attached?
        = image_tag(@user.image,
          class: 'user-show-avatar')
      - else
        = image_tag('default-user-image.jpg',
          class: 'user-show-avatar')
    .col-sm-8
      .user-info-head
        %h2.user-name#user-id{ data: { id: @user.id } }
          = @user.name
        - if user_signed_in? && @user.id == current_user.id
          .user-edit-btn#edit-profile{ data: { toggle: "modal",
          target: "#edit-user-modal" } }
            プロフィールを編集
        - elsif user_signed_in? && @current_user_following == false
          .follow-btn#follow-btn
            フォローする
        - elsif user_signed_in? && @current_user_following == true
          .follow-btn.following#follow-btn
            フォロー中
      .user-info
        .followers.d-inline.pr-4#show-following{ data: { toggle: "modal",
          target: "#show-relationship-modal" } }
          %strong#following
            = @following
          フォロー中
        .follows.d-inline#show-followers{ data: { toggle: "modal",
          target: "#show-relationship-modal" } }
          %strong#followed
            = @followers
          フォロワー
      .user-description.mb-2.mr-5
        = @user.description
      - if @user.url.present?
        .user-url
          %i.fas.fa-link.fa-sm.text-muted
          = link_to(@user.url, @user.url)
  %ul.nav.user-show-nav{ data: { status: @status } }
    %li.nav-item.users-show-nav-item#read{ data: { status: 0 } }
      %span.nav-link
        %i.fas.fa-book
        %span 読んだ本
    %li.nav-item.users-show-nav-item#reading{ data: { status: 1 } }
      %span.nav-link
        %i.fas.fa-book-open
        %span 読んでる本
    %li.nav-item.users-show-nav-item#will-read{ data: { status: 2 } }
      %span.nav-link
        %i.fas.fa-sticky-note
        %span 読みたい本
    %li.nav-item
      %span.nav-link
        %i.fas.fa-chart-bar
        %span 読書グラフ
  .card.book-list.border-0
    .card-body.row#user-show-item-list
      - @books.each do |book|
        - if @status == 0
          = render 'book',
            book: book,
            status: @status,
            modal: "#show-review-modal"
        - else
          = render 'book',
            book: book,
            status: @status,
            modal: "#post-book-modal"
    = paginate @books, window: 2
- if current_user.present? && @user.id == current_user.id
  = render 'shared/post-book-modal'
  = render 'shared/post-review-modal'
  = render 'users/edit-user-modal',
    user: @user
= render 'shared/show-review-modal',
  user: @user
= render 'users/show-relationship-modal'
