.container.user-show
  .row.pb-4.border-bottom
    .col-sm-4.text-center
      = image_tag('default-user-image.jpg',
        class: 'user-show-avatar')
    .col-sm-8
      .user-info-head
        %h1.user-name
          = current_user.name
        = link_to('プロフィールを編集',
          edit_user_registration_path,
          class: 'user-edit')
      .user-info
        .followers.d-inline.pr-4
          %strong 10
          フォロー中
        .follows.d-inline
          %strong 10
          フォロワー
      .user-description
        I'm an university student in Kyoto, Japan.
  %ul.nav.user-show-nav
    %li.nav-item.active
      %span.nav-link
        %i.fas.fa-book
        %span 読んだ本
    %li.nav-item
      %span.nav-link
        %i.fas.fa-book-open
        %span 読んでる本
    %li.nav-item
      %span.nav-link
        %i.fas.fa-sticky-note
        %span 読みたい本
    %li.nav-item
      %span.nav-link
        %i.fas.fa-chart-bar
        %span 読書グラフ
  .card.book-list.border-0
    .card-body.row
      - 20.times do
        .card.col-sm-3.border-0
          .add-book-cover
            .add-book{data: {toggle: 'modal', target: '#exampleModal'}}
              本を登録する
          = image_tag('https://picsum.photos/100/160',
            class: 'card-img-top')
          .card-body
            %h5.card-title
              我輩は猫である
            .card-text
              夏目漱石

#exampleModal.modal.fade{ aria: {hidden: true, 
                          labelledby: 'exampleModalLabel' }, 
                          role: "dialog", 
                          tabindex: "-1" }
  .modal-dialog.modal-dialog-centered{role: "document" }
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title 本を登録する
        %button.close{ aria: { label: "Close"},
                       data: {dismiss: "modal"},
                       type: "button" }
          %span{ aria: { hidden: true }}
            %i.fas.fa-times.text-muted
      .modal-body.row
        = image_tag('https://picsum.photos/100/160',
            class: 'modal-book-img col-4')
        .modal-text.col-8
          %h6 我輩は猫である
          %p 夏目漱石
      .modal-footer
        .modal-footer-btn 
          %i.fas.fa-book.pr-2
          読んだ本に登録
        .modal-footer-btn
          %i.fas.fa-book-open.pr-1
          読んでる本に登録
        .modal-footer-btn 
          %i.fas.fa-sticky-note.pr-1
          読みたい本に登録
