%nav.navbar.navbar-white.py-2.fixed-top
  .container
    %a.navbar-brand.mr-0{ href: "/" }
      = image_tag('header-logo.png',
        alt: 'BOOKLABO',
        class: 'header-logo')
    .form-inline.d-none.d-sm-inline
      = render 'shared/search-form'
    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item
          = link_to(user_path(current_user),
                    class: 'nav-link') do
            %i.fas.fa-user-circle.fa-2x
        %li.nav-item.pl-1
          = link_to(destroy_user_session_path,
                    method: :delete,
                    class: 'nav-link') do
            %i.fas.fa-sign-out-alt.fa-2x
      - else
        %li.nav-item.pl-1
          = link_to(new_user_session_path,
                    class: 'nav-link') do
            %i.fas.fa-sign-in-alt.fa-2x
.search-form.bg-white.d-sm-none.py-4
  .container
    .form-inline.px-4.justify-content-center
      = render 'shared/search-form'
