.search-main
  .container
    .search-result.card
      %h1.card-header
        検索結果
      .card-body.row
        - @books.each do |book|
          .search-item.card.col-md-3.border-0
            .text-center
              - if user_signed_in?
                .add-book-cover
                  .add-book{ data: { toggle: 'modal',
                                    target: '#post-book-modal',
                                    title:   book[:title],
                                    authors: book[:authors],
                                    image:   book[:image_url],
                                    uid:     book[:uid] } }
                    本を登録する
              = image_tag(book[:image_url],
                          class: 'card-img-top')
            .search-item-body.card-body
              %h5.card-title
                = book[:title]
              .card-text
                = book[:authors]
      - if @total_items > 20
        = render partial: 'shared/pagination',
          locals: { page: @page,
                    total_items: @total_items,
                    keyword: @keyword,
                    books: @books }
= render "shared/post-book-modal"
= render "shared/post-review-modal"
