.signup.pt-5
  .container
    .card.mx-auto.mb-3
      .container.text-center.pb-4
        = image_tag('booklabo-logo.png',
          alt: 'BOOKLABO',
          class: 'signup-logo')
        = form_with(model: @user,
          url: user_session_path,
          local: true,
          class: 'signup-form') do |f|
          = f.email_field(:email,
            placeholder: 'メールアドレス',
            class: 'form-control')
          = f.password_field(:password,
            placeholder: 'パスワード',
            class: 'form-control')
          = f.submit('ログインする',
            class: 'btn btn-primary btn-submit')
        .signup-border
          .border-line
          %span.signup-border-text
            または
        .py-2
          = form_with(model: @user,
            url: user_session_path,
            local: true) do |test_f|
            = test_f.hidden_field(:email,
              id: 'testuser_email',
              value: 'testuser1@email.com')
            = test_f.hidden_field(:password,
              id: 'testuser_pass',
              value: 'testuser1')
            = test_f.submit("テストユーザーでログイン",
              data: { confirm: "【皆様へのお願い】\nご覧になられた後は、必ずサインアウトするようお願いいたします。\n(ヘッダー右端のアイコンをクリックすることでサインアウト可能です)" },
              class: 'btn btn-info')
        .py-2
          = link_to(user_facebook_omniauth_authorize_path,
            method: :post,
            class: 'signin-fb') do
            %i.fab.fa-facebook-square.fa-lg.mr-1
            Facebookでログイン
        .py-2
          = link_to(user_twitter_omniauth_authorize_path,
            method: :post,
            class: 'signin-twitter') do
            %i.fab.fa-twitter.fa-lg
            Twitterでログイン
    .card.mx-auto
      .signin-footer
        アカウントをお持ちではありませんか？
        %br
        = link_to('登録する',
          new_user_registration_path,
          class: 'signup-footer-link font-weight-bold')
