.signup.pt-5
  .container
    .card.mx-auto.mb-3
      .container.text-center.pb-4
        = image_tag('booklabo-logo.png',
          alt: 'BOOKLABO',
          class: 'signup-logo')
        = form_with(model: @user,
          url: user_session_path,
          local: true,
          class: 'signup-form') do |f|
          = f.email_field(:email,
            placeholder: 'メールアドレス',
            class: 'form-control')
          = f.password_field(:password,
            placeholder: 'パスワード',
            class: 'form-control')
          = f.submit('ログインする',
            class: 'btn btn-primary btn-submit')
        .signup-border
          .border-line
          %span.signup-border-text
            または
        = link_to(root_path,
          class: 'signin-fb py-2 d-block') do
          %i.fab.fa-facebook-square.fa-lg.mr-1
          Facebookでログイン
        = link_to(root_path,
          class: 'signin-twitter py-2 d-block') do
          %i.fab.fa-twitter.fa-lg
          Twitterでログイン
        = link_to(root_path,
          class: 'signin-google pt-2 pb-3 d-block') do
          = image_tag('google-icon.png',
          class: 'google-icon')
          Googleでログイン
        = link_to('パスワードを忘れた場合',
          new_user_password_path,
          class: 'signin-password-link')
    .card.mx-auto
      .signin-footer
        アカウントをお持ちではありませんか？
        %br
        = link_to('登録する',
          new_user_registration_path,
          class: 'signup-footer-link font-weight-bold')
